

body.redus {


	background-image: url(images/fond_site.webp);
	background-size: 100% auto;
	background-position: top center;
	background-attachment: fixed;
		height: 100%;
	background-image: linear-gradient(hsl(10,90,66), transparent 70%);
	background-size: 100% 100%;
	mix-blend-mode: normal;


  background-repeat: no-repeat;
background-size: cover;

cursor: url(images/curseur3.png), auto;

}











p.overlayredus{
	overflow-wrap: break-word;
	white-space: pre-line;
	  color: green;
	  cursor: url(images/curseur3.png), auto;
}

p.overlayredus2{
	overflow-wrap: break-word;
	white-space: pre-line;
	  color: gold;
	  	  cursor: url(images/curseur3.png), auto;
}




div.whitedoor {

display: block;
    margin-left: auto;
    margin-right: auto;
	    margin-top: 5%;

 line-height: normal;
   width: 150px;
  opacity: 0.7;
  box-sizing: border-box;
 	mix-blend-mode: difference;
	 pointer-events: none;
}

div.whitedoor img {
  width: 100%;
  height: auto;
  mix-blend-mode: difference;
  cursor: no-drop;
   pointer-events: none;
}


.overlay-checkbox {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.98);
  z-index: 1000;
}

.overlay-checkbox:checked + .overlay {
  display: block;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.close-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}



























.nav-toggle-label {
cursor: url(images/curseur5.png), auto;
	  margin-left: 40%;
  width: 3rem;
  height: 3rem;
  
  display: block;
  background-color: red;
}

.nav-toggle {
		 margin-top: 8%;
	  margin-left: 40%;
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

nav {
  width: 40%;
  position: absolute;
  top: 0%;
  left: 30%;
  z-index: 110;
  
  transform: scale(1, 0);
  transform-origin: bottom;
  transition: transform 400ms ease-in-out;
 
}

nav a {
  color: #65A624;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 150ms ease-in;
  display: block;
}

nav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

nav a.active {
  background-color: #65A624;
  color: white;
}

.nav-toggle:checked~.navigatie nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ .navigatie a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-close {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 100;
}

.nav-toggle:checked ~ .nav-toggle-close {
  display: block;
}























div.top {
 margin-top: 60px;
}

a.nodeco{
	text-decoration: none;
	cursor: url(images/devil.png), auto;
}
p.redus {

  text-align: center;
   background-color: Crimson;
   background-image: url("images/DSC_0176-2-2.jpg");
  background-size: 100%;
  width: max-content;
  font-size: 4vw;
  font-family: 'Times New Roman', sans-serif;
  letter-spacing: 20px;
  color: #fff4f4;
  			  padding: 20px;
  			border: 5px solid #246347;
 margin-bottom: 20px;

  margin-left: 200px;

display: inline;

border-radius: 5rem;
text-decoration: none;
 pointer-events: none;
}





div.reseaux {

      margin-top: 12px;
     background: rgba(51, 170, 51, .2);

			outline: thick double #246347;
			  			border: 5px solid #246347;
     border-radius: 2rem;
			  padding: 15px;

     margin-left: auto;

	      margin-right: 900px;
				  text-align: center;
     width: max-content;
	 
	 

    box-sizing: border-box;
	
    clear: left;
	

}

div.reseaux a {
overflow-wrap: break-word;
	    font-family: 'Times New Roman', sans-serif;
     text-shadow: 4px 4px 2px  #246347 ;
	 font-weight: bold;

	  font-size: 2.4vb;
   text-decoration: none;
    font-family: 'Times New Roman', sans-serif;
		    color: #ffc200;
			
		  margin-right: 10px;    
	cursor: url(images/curseur4.png), auto;
    
}


pre.devil {
 text-align: center;
   background-color: Crimson;
   	    margin-left: auto;
    margin-right: auto;
	margin-bottom: 50px;
}






.moving-box {
	margin-top: 2%;
  position: relative;
  width: 100%;
  height: 50px; 
  overflow: hidden; 
  text-decoration: none;
}

.moving-box p {
  white-space: nowrap;
  animation: moveRightToLeft 20s linear infinite; 
  text-decoration: none;
}
.moving-box a {
	text-decoration: none;
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Optional: Style the text box */
.moving-box p {
color: red;
 
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}


























div.gallerie {
   margin-bottom: 70px;
      margin-top: 70px;
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: start;
    justify-content: center;
	    margin-left: auto;
    margin-right: auto;
		max-width:1500px;



}

div.gallerie:nth-child(2n+1) {
  clear: left;
}


div.gallery {

    font-size: 20px;
    font-family: 'Times New Roman', sans-serif;
	
	
	max-width:19%;
    max-height:500px;

    height:100%;
	
    margin: 5px;
    margin-top: 60px;
    margin-left: 60;
    margin-right: 60;
	margin-bottom: 50px;
    border: 1px solid #ccc;
    width: 300px;
    color: #fff4f4;
    float: left;
    box-sizing: border-box;
    clear: left;
	cursor: url(images/curseur4.png), auto;

}

a.gallery{
  text-decoration: none;
  cursor: url(images/curseur5.png), auto;
}

.no-decoration {
  text-decoration: none;
   color: inherit;
   cursor: url(images/curseur5.png), auto;
}




div.gallery:nth-child(2n+1) {
  clear: left;
  cursor: url(images/curseur4.png), auto;

}

div.gallery:hover {
  border: 5px solid Crimson;
  		  font-size: 25px;
		  white-space: initial;
    transition-duration: 0.2s;
	box-sizing: border-box;
	cursor: url(images/curseur4.png), auto;

}

div.gallery img {
  width: 100%;
  height: auto;
  cursor: url(images/curseur4.png), auto;

}





















div.desc {
  padding: 20px;
  	word-break: break-word;
  text-align: right;
  
}





div.porte {

display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;

 line-height: normal;
   width: 150px;
  opacity: 0.7;
  box-sizing: border-box;
 	mix-blend-mode: difference;
	
}

div.porte img {
  width: 100%;
  height: auto;
  mix-blend-mode: difference;
    cursor: url(images/curseur5.png), auto;
}





div.ultrarouge {

display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
	  margin-top: 500px;

 line-height: normal;
   width: 120px;
  opacity: 0.7;
  box-sizing: border-box;
 	mix-blend-mode: difference;
	 
	
}

div.ultrarouge img {
  width: 100%;
  height: auto;
  mix-blend-mode: difference;
    cursor: url(images/curseur6.png), auto;
}












//////////////////////////////////////////////////////////////////////////////////////////////////////////TELEPHONE{}











@media (max-width: 900px) {
  
  
  
div.top {
 margin-top: 80px;
}

p.redus {

  text-align: center;
   background-color: Crimson;
   background-image: url("images/DSC_0176-2-2.jpg");
  background-size: 100%;
  width: max-content;
  font-size: 10vw;
  font-family: 'Times New Roman', sans-serif;
  letter-spacing: 15px;
  color: #fff4f4;
  			  padding: 20px;
  			border: 5px solid #246347;
 margin-bottom: 20px;

  margin-left: 50px;

display: inline;

border-radius: 5rem;
 pointer-events: none;
}




div.reseaux {

      margin-top: 12px;
	
     background: rgba(51, 170, 51, .2);

			outline: thick double #246347;
			  			border: 5px solid #246347;
     border-radius: 2rem;
			  padding: 8px;
   line-height: 2;
     margin-left: 15%;

	      margin-right: 900px;
				  text-align: center;
     width: max-content;
	 
	 

    box-sizing: border-box;
	
    clear: left;
	

}

div.reseaux a {
overflow-wrap: break-word;
	    font-family: 'Times New Roman', sans-serif;
     text-shadow: 4px 4px 2px  #246347 ;
	 font-weight: bold;

	  font-size: 120%;
   text-decoration: none
    font-family: 'Times New Roman', sans-serif;
		    color: #ffc200;
			
		  margin-right: 10px;    
			
    
}





div.gallerie {
   margin-bottom: 70px;
      margin-top: 30px;
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: start;
    justify-content: center;
	    margin-left: auto;
    margin-right: auto;
		max-width:1500px;
 


}

div.gallerie:nth-child(2n+1) {
  clear: left;
}


div.gallery {

    font-size: 20px;
    font-family: 'Times New Roman', sans-serif;
	
	
	max-width:25%;

    max-height:500px;

    height:100%;
	
    margin: 5px;
    margin-top: 10px;
    margin-left: 10;
    margin-right: 10;
	margin-bottom: 10px;
    border: 1px solid #ccc;
    width: 300px;
    color: #fff4f4;
    float: left;
    box-sizing: border-box;
    clear: left;
}








div.gallery:nth-child(2n+1) {
  clear: left;
}

div.gallery:hover {
  border: 5px solid Crimson;
  		  font-size: 20px;
		  white-space: initial;
    transition-duration: 0.2s;
	box-sizing: border-box;

}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 20px;
   font-size: 80%;
  	word-break: break-word;
	white-space: pre-line;
  text-align: right;
}


}