body.W {
	
     border-radius: 8rem;
	
	
	background-color: rgba(0, 0, 0, 1);  
	background-size: 100% auto;
	background-position: top center;
	background-attachment: fixed;
		height: 100%;

	background-size: 100% 100%;

    background-color: rgba(0, 0, 0, 1);   

    background-repeat: no-repeat;
background-size: cover;
text-align: center;

  max-width: 700px;
  margin: auto;
  word-wrap: break-word;
  overflow: auto;

}

.content {

}

#sectionD{
	 pointer-events: none;

          margin: auto;
    width: 1em;
  height: 2em;
  left: -80em;
  right: -2em;
  top: 200em;
 
	opacity: 0.3;
		 
}

#sectionD2{
	 pointer-events: none;

          margin: auto;
    width: 1em;
  height: 2em;
  left: -80em;
  right: 30em;
  top: 230em;
 
	opacity: 0.3;
		 
}

#sectionD3{
	 pointer-events: none;

          margin: auto;
    width: 1em;
  height: 2em;
  left: 50em;
  right: -2em;
  top: 208em;
 
	opacity: 0.3;
		 
}

.loader{


}

.hitbox {
		z-index:9999;
 position: absolute;
 
}

img{
    max-width: 2500%;
    max-height: 2500%;
	 position: absolute;
}

 #section1, #section2, #section3, #section4, #section5, #section6{
         margin: 5px;
         padding: 3px;
      }




pre.text {

white-space: pre-line;
 text-align: center;

 color: blue;
  font-size: 15px;
  font-family: 'Times New Roman', sans-serif;



  




border-radius: 5rem;

overflow-wrap: break-word;

}

pre.vert {


 text-align: center;

 color: green;
  font-size: 70px;
  font-family: 'Times New Roman', sans-serif;



  






overflow-wrap: break-word;

}