body.ultrarouge {

 background-image: url(images/crips.webp);
    background-size: cover;





}



pre.text {
			
			
white-space: pre-line;

 text-align: center;

 color: blue;
  font-size: 15px;
  font-family: 'Times New Roman', sans-serif;


  max-width: 1000px;
  margin: auto;
  word-wrap: break-word;
  margin-top: 4%;
  	 pointer-events: none;
  
	 	position: relative; 
			z-index:999;
  
text-wrap: wrap;


overflow-wrap: break-word;
}



div.ultrarouge {

display: block;
    margin-left: auto;
    margin-right: auto;
	  margin-top: 2%;

 line-height: normal;
   width: 12em;

  box-sizing: border-box;

	 
	
}

div.ultrarouge img {
  width: 100%;
  height: auto;
	 pointer-events: none;
}



img.hitbox{
	width : 10px;
}

div.IMGRitler{


max-width : 200px;
max-height : 150px;
 
			 pointer-events: none;

          margin: auto;
  
  padding: 5%;
  left: -45%;
  right: -2%;
  top: 16%;
 


	
		z-index:1;
 position: absolute;



	}
	
	
div.IMGHARDR{


max-width : 200px;
max-height : 150px;
 
			 pointer-events: none;

          margin: auto;
  
  padding: 5%;
  left: 35%;
  right: -2%;
  top: 30%;
 


	
		z-index:1;
 position: absolute;



	}
	
	div.IMGEOL{


max-width : 200px;
max-height : 150px;
 
			 pointer-events: none;

          margin: auto;
  
  padding: 5%;
  left: -60%;
  right: -2%;
  top: 50%;
 


	
		z-index:1;
 position: absolute;



	}
	
	
	
	@media (max-width: 1000px) {
		
		div.IMGRitler{


max-width : 200px;
max-height : 150px;
 
			 pointer-events: none;

          margin: auto;
  
  padding: 5%;
  left: -45%;
  right: -2%;
  top: 16%;
 


	
		z-index:1;
 position: absolute;



	}
	
	
div.IMGHARDR{


max-width : 200px;
max-height : 150px;
 
			 pointer-events: none;

          margin: auto;
  
  padding: 5%;
  left: 35%;
  right: -2%;
  top: 30%;
 


	
		z-index:1;
 position: absolute;



	}
	
	div.IMGEOL{


max-width : 200px;
max-height : 150px;
 
			 pointer-events: none;

          margin: auto;
  
  padding: 5%;
  left: -60%;
  right: -2%;
  top: 50%;
 


	
		z-index:1;
 position: absolute;


pre.text {
			
			
white-space: pre-line;

 text-align: center;

 color: blue;
  font-size: 15px;
  font-family: 'Times New Roman', sans-serif;


  max-width: 1000px;
  margin: auto;
  word-wrap: break-word;

  	 pointer-events: none;
  
	 
  
text-wrap: wrap;


overflow-wrap: break-word;
}

	}
	

	