body.bodyultrarouge{
	max-width: 1000px;
  margin: auto;
  word-wrap: break-word;
  overflow: auto;
}


.text {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 500px;
	text-shadow: #A3A3A3 1px 1px 1px;
}
.text .block-line > span {
	display: inline-block;
	  font-size: 100px;
	  margin-top: 400px;
}


.ultrarouge{
	 pointer-events: none;

          margin: auto;
 
		  mix-blend-mode: difference;

		z-index:9999;
 position: absolute;
 
}