pre.text {


 text-align: center;

 color: blue;
  font-size: 15px;
  font-family: 'Times New Roman', sans-serif;



  




border-radius: 5rem;

overflow-wrap: break-word;

  max-width: 1000px;
  margin: auto;

}

pre.vert {


 text-align: center;

 color: green;
  font-size: 70px;
  font-family: 'Times New Roman', sans-serif;



  




border-radius: 5rem;

overflow-wrap: break-word;

}

body {
	  background-color: rgba(0, 0, 0, 1);   
}